<div class="card p-4">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Tarea</label>
            <input type="text" formControlName="name" class="form-control">
            <div *ngIf="taskForm.get('name').invalid && taskForm.get('name').touched" class="text-danger">
                Debes ingresar una tarea.
            </div>
        </div>
        <!-- Puedes agregar más campos aquí si es necesario -->
        <button type="submit" class="btn btn-primary">{{ newTask ? 'Agregar' : 'Guardar' }}</button>
    </form>
</div>